<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="head :: head"></head>
<body>
<header th:replace="header :: header"></header>
<h4 th:if="${diagnosis.size()>0}" th:text="'Diagnosis: ' + ${diagnosis.size()}"> </h4>
<div class=" col-12">
    <h3 th:unless="${diagnosis} and ${diagnosis.size()}">There are no diagnosis!</h3>
    <table th:if="${diagnosis.size()>0}" class="table table-hover">
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
        <tr th:each="diagnosis : ${diagnosis}">
            <td th:text="${diagnosis.id}"></td>
            <td th:text="${diagnosis.name}"></td>
            <td th:text="${diagnosis.description}"></td>
            <td>
                <a class="btn btn-info" th:href="@{'/diagnosis/edit/'+${diagnosis.id}}">Edit</a>
            </td>
            <td>
                <a class="btn btn-danger" th:href="@{'/diagnosis/delete/'+${diagnosis.id}}">Delete</a>
            </td>

        </tr>
    </table>
</div>
<div>
    <a class="btn btn-info" th:href="@{'/diagnosis/create'}">Add Diagnosis</a>
</div>
<footer th:replace="footer :: footer"></footer>
</body>
</html>