<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head"></head>
<body>
<header th:replace="header :: header"></header>
<h4>Register the Pill</h4>
<div class="col-6">
    <form action="#" th:action="@{/pills/create}" th:object="${pill}" method="post">
        <div class="form-group">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" type="text" th:field="*{name}" placeholder="Name" id="name">
                <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input class="form-control" type="text" th:field="*{description}" placeholder="Description" id="description">
                <span class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save Pill</button>
    </form>
</div>
<footer th:replace="footer :: footer"></footer>
</body>
</html>
